# ========================
# NetBeans
# ========================
nbproject/private/
build/
dist/
nbbuild/
nbdist/
.nb-gradle/

# ========================
# Java
# ========================
*.class
*.war
*.ear

# ========================
# Logs
# ========================
*.log

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# IDE divers (au cas où)
# ========================
.idea/
.vscode/
